/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'Chunk Five';
    src: url('fonts/chunk-five.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
	padding: 0;
    font-family: 'Chunk Five';
}


html, body {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    flex-direction: column;
}


.calendar-wrapper {
    margin: 20% auto;
    border: 1px solid #000000;
    width: 425px;
    height: 400px;
    justify-content: flex-start;
    align-items: center;
}

.btn-month-back, .btn-month-next, .btn-year-back, .btn-year-next {
    background-color: blue;
    font-weight: bold;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.day-off {
    color: green;
    background: grey;
}

.wrapper-year, .wrapper-month {
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.wrapper-date {
    width: 100%;
}

.wrapper-date>tbody>tr>td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}